body {
  font-family: Montserrat, 'Times New Roman', Times, serif;
  color: #192937 !important;
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.jumbotron {
  background-image: url("/images/chairs.jpeg");
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
}

.logoT {
  height: 14rem;
  width: 14rem;
}

li {
  list-style: none;
}