body {
  font-family: Montserrat, 'Times New Roman', Times, serif;
}

.navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
}

.jumbotron {
  background-image: url("/images/chairs.jpeg");
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
}